.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.input-container,
.upload-container,
.action-buttons {
  margin: 20px;
}

.number-input,
.file-input {
  padding: 10px;
  font-size: 16px;
}

.draw-button,
.upload-button,
.clear-marks-button,
.clear-cards-button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  width: 200px; /* Adjust the width of each card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.numbers {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 40px; /* Adjust height for readability */
  width: 40px; /* Adjust width for readability */
}

.cell.marked {
  background-color: yellow;
}

.error {
  color: red;
}
